# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# freeserf specific
*.PA
freeserf

# mac specific
*.xcworkspace
xcuserdata
mac/version_vcs.h
.DS_Store

# windows specific
*.ncb
*.suo
*.vcxproj
*.vcxproj.filters
*.obj
*.pdb
*.idb
*.user
*.log
*.tlog
*.sdf
*.lastbuildstate
*.unsuccessfulbuild

# CMake
/build
